<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Приложению нужен доступ к вашим фото, чтобы вы могли выбрать изображения для трансляции или сохранения.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Приложению нужен доступ для сохранения снимков и записей в вашу библиотеку фотографий.</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>amongus</string>
        <string>pubgmobile</string>
        <string>codm</string>
        <string>fortnite</string>
        <string>robloxmobile</string>
        <string>minecraft</string>
        <string>brawlstars</string>
        <string>clashofclans</string>
        <string>clashroyale</string>
        <string>candycrush</string>
        <string>subwaysurfers</string>
        <string>asphalt9</string>
        <string>mobilelegends</string>
        <string>genshinimpact</string>
        <string>lolwr</string>
        <string>freefire</string>
        <string>eightballpool</string>
        <string>templerun</string>
        <string>angrybirds</string>
        <string>pokemongo</string>
        <string>stumbleguys</string>
        <string>hillclimbracing</string>
        <string>fruitninja</string>
        <string>pvz</string>
        <string>geometrydash</string>
        <string>dragoncity</string>
        <string>township</string>
        <string>homescapes</string>
        <string>gardenscapes</string>
        <string>shadowfight</string>
    </array>
</dict>
</plist>
